[info]
logo              = https://pahma.cspace.berkeley.edu/collectionspace/ui/pahma/images/header-logo.png

[imagebrowser]
MAXMARKERS          = 65
MAXRESULTS          = 1000
MAXLONGRESULTS      = 50
# no final slashes on directories!
IMAGESERVER         = http://pahma-dev.cspace.berkeley.edu/pahma_project/imageserver
SOLRSERVER          = http://localhost:8983/solr
SOLRCORE            = pahma-metadata