{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}

{% block branding %}
    <h2><img style="text-align:center; background: #fff" src="../pahma_project_static/cspace_django_site/images/HearstLogoGoogley.png"/></h2>
    <style>
    h1 {
    height: 130px; /* The height of the tallest image referenced above in background-image */
    }
    </style>
{% endblock %}

{% block content %}
    <!-- uses jQuery masonry -->
    <script src="{% static "js/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "js/jquery.masonry.min.js" %}"></script>
    <style>
        .item {
            width: 105px;
            margin: 5px;
            float: left;
        }

        #container {
            width: inherit;
            margin: 15px;
        }
    </style>
    <h2>{{ report }}</h2>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="" method="get">
    <div style="text-align: center">
        <input type="text" name="text" size="60" value="{{ text }}"><br/>
        <input type="hidden" name="maxresults" value="{{ maxresults }}">
        <input type="hidden" name="pixonly" value="{{ pixonly }}">
        <input type="submit" value="I'm feeling lucky">
        <input type="submit" value="Search">
    </div>
        {% for field in form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}

        <hr/>

        {% if errormsg %}
            <span style="color: red">{{ errormsg }}</span>
        {% endif %}
        {% if url %}
            <i><a href="{{ url }}">{{ url }}</a></i>
            <hr/>
        {% endif %}
        {% if count > 0 %}
            {{ count }} items in total;  {{ imagecount }} images displayed for {{ maxresults }} objects;
        {% endif %}
        {% if time %}
            solr query took {{ time }} seconds
            <hr/>
        {% endif %}
        {% for field in form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}
    </form>
    <div id="masonrycontainer">
        {% for item in items %}
            <div class="item" style="background-color: #f0f0f0; padding: 3px; min-width: 170px;">
                {% if item.blobs %}
                    {% for t in item.blobs %}
                        <a target="image"
                           href="http://dev.cspace.berkeley.edu/pahma_project/imageserver/blobs/{{ t }}/derivatives/OriginalJpeg/content">
                            <img src="http://dev.cspace.berkeley.edu/pahma_project/imageserver/blobs/{{ t }}/derivatives/Thumbnail/content">
                        </a>
                    {% endfor %}
                    <br/><a target="cspace"
                            href="../search/search?displayType=full&maxresults=1&text=%22{{ item.accession }}%22">{{ item.accession }}</a>
                    <br/><b>{{ item.mainentry }}</b>
                {% endif %}
            </div>
        {% endfor %}

    </div><!-- #masonrycontainer -->
    <script>
        var $container = $('#masonrycontainer');
        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector: '.item',
                isAnimated: true
            });

        });
    </script>
{% endblock %}
