{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}

{% block content %}
    <!-- uses jQuery masonry -->
    <script src="{% static "js/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "js/jquery.masonry.min.js" %}"></script>
    <style>
        .item {
            width: 105px;
            margin: 5px;
            float: left;
            background: gainsboro;
        }

        #masonrycontainer {
            overflow: hidden;
        }

        #facets {
            float: left;
            padding-right: 8px;
            padding-left: 8px;
            background: lightgoldenrodyellow;
        }

        .noimage {
            padding-right: 5px;
        }

    </style>
    <h2>{{ report }}</h2>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form id="solrsearch" action="" method="get">
        <input type="text" name="kw" value="{{ kw }}"> keyword<br/>
        <input type="submit" value="Search">
        <input type="checkbox" {% if pixonly %}checked {% endif %} name='pixonly' value="pixonly"> only show objects
        with pictures
        <hr/>
        {% if url %}
            <i><a href="{{ url }}">{{ url }}</a></i>
            <hr/>
        {% endif %}
        {% if count > 0 %}
            {{ count }} items,
        {% endif %}
        {% if time %}
            {{ time }} seconds
            <hr/>
        {% endif %}
        {% for field in form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}
    </form>
    <div id="currfacets">
        {% for cf,vf in fq.items %}
            <li><a href="#" onclick="formSubmit('{{ cf }}')">{{ cf }}"</a>: {{ vf }}</li>
        {% endfor %}
    </div>
    <div id="facets">
        {% for key, value in facetsflds.items %}
            <h2>{{ key }}</h2>
            <ul>
                {% for k2,v2 in value %}
                    <li><a href="#" onclick="formSubmit('{{ k2 }}')">{{ k2 }}</a>: {{ v2 }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div id="masonrycontainer">
        {% for row in results %}
            <div class="item">
                {% if row.blobs_ss %}
                    {% for blob in row.blobs_ss %}
                        <a target="image"
                           href="http://localhost:8000/imagesaver/blobs/{{ blob }}/derivatives/OriginalJpeg/content">
                            <img src="http://localhost:8000/imagegetter/blobs/{{ blob }}/derivatives/Thumbnail/content">
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="noimage">[no image]</div>
                {% endif %}
                <br/>{{ row.objectname_s }}
                <br/><a target="cspace" href="./{{ core }}/?kw={{ row.id }}">{{ row.objectnumber_s }}</a>
            </div>
        {% endfor %}

    </div><!-- #masonrycontainer -->
    <script>
        var $container = $('#masonrycontainer');
        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector: '.item',
                isAnimated: true
            });

        });

        function formSubmit(term) {
            console.log(term);
            document.forms['solrsearch'].submit();
        }

    </script>
{% endblock %}
