{% if jobs %}
    <hr/>
    <h1>{{ count }} files in the queue</h1>
    <table cellspace="1" id="resultsListing" class="tablesorter">
        <thead>
        <tr>
            <th>File Name</th>
        </tr>
        </thead>
        <tbody>
        {% for jobno,jobinfo in jobs %}
            <tr>
                <td>{{ jobno }}</td>
                {% for j in jobinfo %}
                    <td><a href="showresults/{{ j.0 }}">{{ j.1 }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}