{% if jobs %}
    <hr/>
    <h1>{{ count }} jobs in the queue</h1>
    <table cellspace="1" id="resultsListing" class="tablesorter">
        <thead>
        <tr>
            <th>Job Number</th>
            <th>Job Flag</th>
            <th>Job States</th>
        </tr>
        </thead>
        <tbody>
        {% for jobno,jobfailed,jobinfo in jobs %}
            <tr>
                <td>{{ jobno }}</td>
                {% if jobfailed == True %}
                    <td><span style="color: red">Failed.</span></td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for j in jobinfo %}
                    <td><a href="showresults/{{ j.0 }}">{{ j.1 }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}