{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}

{% block scripts %}
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-1.10.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "publicsearch/js/jquery.tablesorter.js" %}"></script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <input type="file" name="imagefiles" multiple>
            <hr/>
            <h1>Override values in image files, if desired</h1>
            <table>
                <tr>
                    <td>Creator</td>
                    <td><input type="text" name="creator" value="{{ constants.creator }}"></td>
                    <td><input type="checkbox" name="overidecreator" value="">Overide only if blank</td>
                    <td><input type="checkbox" name="overidecreatoralways" value="">Always Overide</td>
                </tr>
                <tr>
                    <td>Contributor</td>
                    <td><input type="text" name="contributor" value="{{ constants.contributor }}"></td>
                    <td><input type="checkbox" name="overidecontributor" value="">Overide only if blank</td>
                    <td><input type="checkbox" name="overidecontributoralways" value="">Always Overide</td>
                </tr>
                <tr>
                    <td>Rights Holder</td>
                    <td><input type="text" name="rightsholder" value="{{ constants.rightsholder }}"></td>
                    <td><input type="checkbox" name="overiderightsholder" value="">Overide only if blank</td>
                    <td><input type="checkbox" name="overiderightsholderalways" value="">Always Overide</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="createmedia"
                                           value="Upload to CSpace and Create Media Records"></td>
                </tr>
            </table>
        </form>

        {% if images %}
            {% include "images.html" %}
        {% endif %}

        {% if jobinfo %}
            <hr/>
            <h1>Job {{ jobinfo.jobnumber }} enqueued. Estimated time to completion: {{ jobinfo.estimatedtime }} minutes.
                Please check back then.</h1>
            <input type="submit" name="checkjobs" value="View the Job Queue">
        {% endif %}
        </form>

    </div>
{% endblock %}
