{% if tricoder_files %}
    <hr/>
    <h1>{{ tricoder_filecount }} {{ directory }} tricoder file{{ tricoder_filecount|pluralize }} in the queue.
        {% if tricoder_filecount > tricoder_files|length %}
            Only the first {{ tricoder_files|length }} displayed.
        {% endif %}
    </h1>
    <table cellspace="1" id="resultsListing" class="tablesorter">
        <thead>
        <tr>
            <th>File Name</th>
            {% for h in stats %}
            <th style="width: 50px; text-align: right">{{ h }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for filename,filefailed,fileinfo,filesummary in tricoder_files %}
            <tr>
                <td><a href="showresults/?filename={{ filename }}&directory={{ directory }}">{{ filename }}</a></td>
                <!-- td>{{ filesummary }}</td>
                {% if filefailed == True %}
                    <td><span style="color: red">Failed.</span></td>
                {% else %}
                    <td/ -->
                {% endif %}
                {% for f in fileinfo %}
                    <td style="text-align: right">{{ f }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
