# NB: this config file is not used by the online component of the BMU:
#     it is included to provide a sample configuration for the batch component, which must
#     be configure properly in the directory where it is run, normally /var/www/cgi-bin
#
# Most of the parameters below are not used below, but are included for compatibility with other
# webapps with may read this file and expect them.
[info]
logo              = https://pahma.cspace.berkeley.edu/collectionspace/ui/pahma/images/logored100.png
schemacolor1      = #660000
serverlabel       = development
serverlabelcolor  = green
apptitle          = Upload Media
updatetype        = uploadmedia
updateactionlabel = Upload Media

[connect]
# password is configured in .pgpass, but if you wanted, you could configure it here.
connect_string    = host=dba-postgres-prod-32.ist.berkeley.edu port=5307 dbname=pahma_domain_pahma user=reporter_pahma sslmode=require
nuxeo_login       = nuxeo
nuxeo_password    = password

realm             = org.collectionspace.services
hostname          = pahma.cspace.berkeley.edu
username          = admin@pahma.cspace.berkeley.edu
password          = xxxxxxxx

[files]
auditfile         = /tmp/sysinvlog-test.csv
logfileprefix     = /tmp/sysinvlog-dev
