<table width="100%">
    <tr>
        <td>
            <label>Keyword</label></td>
        <td>
            <input type="text" id="keyword" name="keyword" value="{{ searchValues.keyword }}"/>
        </td>
        <td>
            <label>Museum Number</label>
        </td>
        <td>
            <input type="text" id="accession" name="accession"
                   value="{{ searchValues.accession }}"/>
        </td>
        <td>
            <label>Collection Number</label>
        </td>
        <td>
            <input type="text" id="collectionnumber" name="collectionnumber"
                   value="{{ searchValues.collectionnumber }}"/>
        </td>
        <td>
            <label>Museum Location</label>
        </td>
        <td>
            <input type="text" id="location" name="location"
                   value="{{ searchValues.location }}"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Object Name</label>
        </td>
        <td>
            <input type="text" id="objectname" name="objectname"
                   value="{{ searchValues.objectname }}"/>
        </td>

        <td>
            <label>Medium</label>
        <select id="medium_qualifier" name="medium_qualifier">
                {% for option in qualifiers %}
                    <option value="{{option}}"{% if option == searchValues.medium_qualifier %} selected{% endif %}>{{option}}</option>
                {% endfor %}
        </select>
        </td>
        <td>
            <input type="text" id="medium" name="medium"
                   value="{{ searchValues.medium }}"/>
        </td>
        <td>
            <label>Date Collected</label></td>
        <td>
            <input type="text" id="collectiondate" name="collectiondate"
                   value="{{ searchValues.collectiondate }}"/>
        </td>
        <td>
            <label>Field Collector</label>
        </td>
        <td>
            <input type="text" id="collector" name="collector"
                   value="{{ searchValues.collector }}"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Provenance</label>
        </td>
        <td>
            <input type="text" id="provenance" name="provenance" value="{{ searchValues.provenance }}"/>
        </td>
        <td>
            <label>Culture</label>
       <select id="culture_qualifier" name="culture_qualifier">
                {% for option in qualifiers %}
                    <option value="{{option}}"{% if option == searchValues.culture_qualifier %} selected{% endif %}>{{option}}</option>
                {% endfor %}
        </select>
        </td>
        <td>
            <input type="text" id="culture" name="culture"
                   value="{{ searchValues.culture }}"/>
        </td>
        <td>
            <label>Description</label>
        </td>
        <td>
            <input type="text" id="description" name="description" value="{{ searchValues.description }}"/>
        </td>
        <td>
            <label>Field Collection Notes</label>
        </td>
        <td>
            <input type="text" id="country" name="country" value="{{ searchValues.country }}"/>
        </td>
    </tr>
</table>