<table cellspace="1" id="resultsListing" class="tablesorter">
    <thead>
    <tr>
        <th></th>
        <th>Museum Number</th>
        <th>Object Number</th>
        <th>Collector</th>
        <th>Collection Date</th>
        <th>Medium</th>
        <th>Culture</th>
        <th>Provenance</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
                <input type="checkbox" name="item-{{ item.counter }}" value="{{ item.csid }}" checked>
            </td>
            <td>
                <a href="?accession={{ item.accession }}&displayType=full">{{ item.accession }}</a>
            </td>
            <td>
                <a href="#"
                   onclick="submitForm(0,'determination','{{ item.determination }}')">{{ item.determination }}</a>
            </td>
            <td><a href="#"
                   onclick="submitForm(0,'collector','{{ item.collector }}')">{{ item.collector }}</a>
            </td>
            <td>
                <a href="#"
                   onclick="submitForm(0,'collectiondate','{{ item.collectiondate }}')">{{ item.collectiondate }}</a>
            </td>
            <td>
                <a href="#"
                   onclick="submitForm(0,'medium','{{ item.medium }}')">{{ item.medium }}</a>
            </td>
            <td><a href="#" onclick="submitForm(0,'culture','{{ item.culture }}')">{{ item.culture }}</a>
            </td>
            <td><a href="#" onclick="submitForm(0,'provenance','{{ item.provenance }}')">{{ item.provenance }}</a>
            </td>
            <td><a href="#"
                   onclick="submitForm(0,'location','{{ item.location }}')">{{ item.location }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>